@import "../../vars.css";

.container {
  color: wheat;
  display: flex;
  font-size: 5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secondary);
  height: 38rem;
  margin-top: 200px;
  border-radius: 600px 600px 0 0;
  /* transform: translateY(100%); */
  transition: all 1.2s ease;
}
.rotate {
  transition: transform 1.2s;
}
.rotate:hover {
  transform: rotate(360deg);
  color: darkcyan;
}
.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}
.input {
  margin: 20px 0px;
  width: 50vw;
  padding: 10px; /* Added padding */
  border-radius: 15px;
  border: 2px solid white;
  color: black;
  /* background: transparent; */
  box-shadow: 0 0 5px white;
  font-size: 1.02rem;
  outline: none;
}
.textarea {
  width: 50vw;
  margin: 20px 0px;
  height: 15rem;
  padding: 10px; /* Added padding */
  border-radius: 15px;
  font-size: 1.02rem;
}
.btn {
  width: 120px;
  font-size: 2rem;
  border: 2px solid black;
}
.btn:hover {
  box-shadow: 0 0 6px white;
}

@media only screen and (max-width:1360px) {
  .container {
    font-size: 4rem;
  }
}
@media only screen and (max-width:1050px) {
  .container {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width:850px) {
  .container {
    font-size: 3.0rem;
  }
  .btn {
    width: 100px;
    font-size: 1.7rem;
  }
  .input {
    width: 70vw;
  }
  .textarea {
    width: 70vw;
  }
}
@media only screen and (max-width:550px) {
  .container {
    font-size: 2.7rem;
  }
  .btn {
    width: 85px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width:425px) {
  .container {
    font-size: 2.4rem;
  }
}
